---
import InputReact from "../components/InputReact.jsx";
import InputSvelte from "../components/Input.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section>
      <div>
        <InputSvelte client:load label="Svelte JS ON" />
      </div>
      <div>
        <InputSvelte label="Svelte JS OFF" />
      </div>
      <div>
        <InputReact client:load label="React JS ON" />
      </div>
      <div>
        <InputReact label="React JS OFF" />
      </div>
    </section>
  </body>
</html>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  div {
    padding-inline: 1rem;
  }
</style>
