---
import Input from "../components/Input.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="p-4">
      <Input client:load label="JS включён" />
      <Input label="JS выключен" />
    </div>
  </body>
</html>
